@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hoverable:hover {
    background-color: rgb(31 41 55 / 0.05);
  }

  @media (prefers-color-scheme: dark) {
    .hoverable:hover {
      background-color: rgb(229 231 235 / 0.05);
    }
  }

  .bg-input {
    background-color: rgb(0 0 0 / 0.05);
  }

  .bg-input:hover {
    background-color: rgb(0 0 0 / 0.1);
  }

  @media (prefers-color-scheme: dark) {
    .bg-input {
      background-color: rgb(229 231 235 / 0.05);
    }

    .bg-input:hover {
      background-color: rgb(229 231 235 / 0.1);
    }
  }

  .bg-box-transparent {
    background-color: rgb(0 0 0 / 0.05);
  }

  @media (prefers-color-scheme: dark) {
    .bg-box-transparent {
      background-color: rgb(229 231 235 / 0.05);
    }
  }

  .bg-box-transparent-2 {
    background-color: rgb(0 0 0 / 0.1);
  }

  @media (prefers-color-scheme: dark) {
    .bg-box-transparent-2 {
      background-color: rgb(229 231 235 / 0.1);
    }
  }
}

* {
  border-color: rgb(55 65 81);
}

html.dark {
  background-color: rgb(17 24 39);
}

body,
:host {
  font-family: 'Inter var', sans-serif !important;
  font-size: 16px !important;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  background-color: rgb(249 250 251);
  line-height: 1.5;
}

.dark body,
.dark :host {
  background-color: rgb(17 24 39);
}

table th,
table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

input:focus,
button:focus,
textarea:focus,
select:focus,
[role='button']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px var(--color-accent);
}

.dark input:focus,
.dark button:focus,
.dark textarea:focus,
.dark select:focus,
.dark [role='button']:focus {
  box-shadow: 0 0 0 2px rgb(229 231 235);
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-table thead {
  background-color: rgb(0 0 0 / 0.05);
}

.dark .custom-table thead {
  background-color: rgb(229 231 235 / 0.05);
}

.custom-table thead th {
  font-weight: 600;
}

.custom-table thead th:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.custom-table thead th:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.custom-table tbody > :not([hidden]) ~ :not([hidden]) {
  border-top-width: 1px;
}

pre {
  font-size: 15px;
}

.scroll,
.scroll .cm-scroller {
  scrollbar-width: thin;
  scrollbar-color: rgb(209 213 219) transparent;
}

.scroll::-webkit-scrollbar,
.scroll .cm-scroller::-webkit-scrollbar {
  width: 7px;
  height: 9px;
}

.scroll::-webkit-scrollbar-thumb,
.scroll .cm-scroller::-webkit-scrollbar-thumb {
  background-color: rgb(209 213 219);
  border-radius: 8px;
}

.scroll::-webkit-scrollbar-track,
.scroll .cm-scroller::-webkit-scrollbar-track {
  background: transparent;
}

.scroll.scroll-xs::-webkit-scrollbar,
.scroll.scroll-xs .cm-scroller::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.dark .scroll::-webkit-scrollbar-thumb,
.dark .scroll .cm-scroller::-webkit-scrollbar-thumb {
  background-color: rgb(55 65 81);
}

.tippy-box[data-theme~='tooltip-theme'] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: rgb(17 24 39);
  color: rgb(229 231 235);
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
}

.dark .tippy-box[data-theme~='tooltip-theme'] {
  background-color: rgb(229 231 235);
  color: rgb(0 0 0);
}

.Vue-Toastification__toast {
  font-family: inherit !important;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror img.ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}

.input-label {
  margin-left: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.dark .input-label {
  color: rgb(229 231 235);
}
