@import "tailwindcss";
@config "../../../tailwind.config.js";

@theme {
  /* Colors - use oklch format for Tailwind v4 */
  --color-primary: oklch(0.62 0.21 259.82);
  --color-secondary: oklch(0.72 0.17 237.32);
  --color-accent: oklch(0.25 0 0);
  
  --color-gray-50: oklch(0.98 0 0);
  --color-gray-200: oklch(0.91 0.01 264.53);
  --color-gray-300: oklch(0.85 0.01 258.34);
  --color-gray-600: oklch(0.47 0.03 256.8);
  --color-gray-700: oklch(0.41 0.03 259.73);
  --color-gray-800: oklch(0.32 0.03 256.85);
  --color-gray-900: oklch(0.24 0.03 264.67);
  
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

.dark {
  --color-primary: oklch(0.72 0.17 237.32);
  --color-secondary: oklch(0.62 0.21 259.82);
  --color-accent: oklch(0.96 0 0);
}

@utility hoverable {
  &:hover {
    background-color: rgb(31 41 55 / 0.05);
  }
  
  @media (prefers-color-scheme: dark) {
    &:hover {
      background-color: rgb(229 231 235 / 0.05);
    }
  }
}

@utility bg-input {
  background-color: rgb(0 0 0 / 0.05);
  
  &:hover {
    background-color: rgb(0 0 0 / 0.1);
  }
  
  @media (prefers-color-scheme: dark) {
    & {
      background-color: rgb(229 231 235 / 0.05);
    }
    
    &:hover {
      background-color: rgb(229 231 235 / 0.1);
    }
  }
}

@utility bg-box-transparent {
  background-color: rgb(0 0 0 / 0.05);
  
  @media (prefers-color-scheme: dark) {
    & {
      background-color: rgb(229 231 235 / 0.05);
    }
  }
}

@utility bg-box-transparent-2 {
  background-color: rgb(0 0 0 / 0.1);
  
  @media (prefers-color-scheme: dark) {
    & {
      background-color: rgb(229 231 235 / 0.1);
    }
  }
}

* {
  border-color: rgb(55 65 81);
}

html.dark {
  background-color: rgb(17 24 39);
}

body, :host {
  font-family: 'Inter var', sans-serif !important;
  font-size: 16px !important;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  background-color: rgb(249 250 251);
  line-height: 1.5;
}

.dark body,
.dark :host {
  background-color: rgb(17 24 39);
}

table th,
table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

input:focus,
button:focus,
textarea:focus,
select:focus,
[role='button']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px var(--color-accent);
}

.dark input:focus,
.dark button:focus,
.dark textarea:focus,
.dark select:focus,
.dark [role='button']:focus {
  box-shadow: 0 0 0 2px rgb(229 231 235);
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.custom-table thead {
  background-color: rgb(0 0 0 / 0.05);
}

.dark .custom-table thead {
  background-color: rgb(229 231 235 / 0.05);
}

.custom-table thead th {
  font-weight: 600;
}

.custom-table thead th:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.custom-table thead th:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.custom-table tbody > :not([hidden]) ~ :not([hidden]) {
  border-top-width: 1px;
}



pre {
  font-size: 15px;
}

.scroll, 
.scroll .cm-scroller {
  &::-webkit-scrollbar {
    width: 7px;
    height: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(209 213 219);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &.scroll-xs::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

.dark .scroll::-webkit-scrollbar-thumb,
.dark .scroll .cm-scroller::-webkit-scrollbar-thumb {
  background-color: rgb(55 65 81);
}


.tippy-box[data-theme~='tooltip-theme'] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: rgb(17 24 39);
  color: rgb(229 231 235);
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
}

.dark .tippy-box[data-theme~='tooltip-theme'] {
  background-color: rgb(229 231 235);
  color: rgb(0 0 0);
}

.Vue-Toastification__toast {
  font-family: inherit !important;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror img.ProseMirror-selectednode {
  outline: 3px solid #68CEF8;
}

.input-label {
  margin-left: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.dark .input-label {
  color: rgb(229 231 235);
}
